:root {
    // Colors
    --violet-color: hsl(256, 26%, 20%);
    --grayish-color: hsl(216, 30%, 68%);

    // Colors(neutral)
    --dark-violet: hsl(270, 9%, 17%);
    --grayish-violet: hsl(273, 4%, 51%);
    --light-gray: hsl(0, 0%, 98%);


    // Fonts
    --heading-font: 'DM Serif Display', serif;
    --text-font: 'Karla', sans-serif;
}
